html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#23135a, rgb(35, 163, 214), rgb(15, 11, 238));
}

.piano {
  display: flex;
  position: relative;
  margin-left: 4px;
  flex-direction: row;
  right: 30px;
}

.white-key {
  width: 40px;
  height: 120px;
  background-color: rgb(219, 25, 25);
  border: 4px solid black;
  border-radius: 0 0 6px 6px;
  margin-left: -4px;
  outline: none;
  cursor: pointer;
}

.white-active {
  background-color: #C0C0C0;
}

.black-key {
  position: absolute;
  width: 24px;
  height: 80px;
  background-image: linear-gradient(#000000, #303030);
  border: 3px solid black;
  border-radius: 0 0 2px 2px;
  outline: none;
  cursor: pointer;
}

.black-active {
  background-image: linear-gradient(#c28f8f, #7a7070);
}

.Db4-key {
  left: 22px;
}

.Eb4-key {
  left: 58px;
}

.Gb4-key {
  left: 130px;
}

.Ab4-key {
  left: 166px;
}

.Bb4-key {
  left: 202px;
}

.Db5-key {
  left: 274px;
}

.Eb5-key {
  left: 310px;
}

.play {
  background-image: linear-gradient(rgb(184, 5, 184), rgb(51, 51, 51));
  font-size: 20px;
  display: flex;
  position: relative;
  bottom: 73px;
  left: 20px;
  width: 716%;
  border: none;
  align-items: center;
}

header {
  width: 100%;
  position: fixed;
  height: -40%;
  display: flex;
  align-content: center;
  align-self: flex-start;
  text-align: center;
  border-bottom: rgb(12, 12, 12) solid 4px;
  background-image: linear-gradient(rgb(184, 5, 184), rgb(5, 76, 117));
}